
html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url("../assets/background-us.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 150px;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

/*div {
  border-style: solid;
  border-width: 1px;
}*/

.row.vertical-offset {
  margin-top: 50px;
}

/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Lobster Two', cursive;*/
/*font-family: 'Noto Sans', sans-serif;*/

